# TCVD-PRACT2: Processament de les dades

## Dependències

In [228]:
# ! pip install pandas numpy scikit-learn matplotlib seaborn

In [229]:
import sys
from pathlib import Path
sys.path.append(Path("../"))

In [230]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

## Dataset

Carreguem el dataset original

In [231]:
file_path = Path('..\dataset\glassdoor_jobs_original.csv')
data = pd.read_csv(file_path)

Veiem alguna informació bàsica del dataset:

In [232]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4469 entries, 0 to 4468
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Searched Job Title   4469 non-null   object
 1   Extracted Job Title  4469 non-null   object
 2   Employer             4469 non-null   object
 3   Rating               4469 non-null   object
 4   Location             4469 non-null   object
 5   Salary               4469 non-null   object
 6   Job Link             4469 non-null   object
 7   Job Age              4469 non-null   object
dtypes: object(8)
memory usage: 279.4+ KB

In [233]:
data.describe()

       Searched Job Title  ... Job Age
count                4469  ...    4469
unique                  9  ...      32
top         Data Engineer  ...  + 30 d
freq                  901  ...    2583

[4 rows x 8 columns]

In [234]:
data.head()

  Searched Job Title  ...  Job Age
0     Data Scientist  ...  21 días
1     Data Scientist  ...   + 30 d
2     Data Scientist  ...   + 30 d
3     Data Scientist  ...   + 30 d
4     Data Scientist  ...   + 30 d

[5 rows x 8 columns]

Quants valors nulls hi ha?

In [235]:
print(data.isnull().sum())

Searched Job Title     0
Extracted Job Title    0
Employer               0
Rating                 0
Location               0
Salary                 0
Job Link               0
Job Age                0
dtype: int64

## Processament

Com no hi ha valors nuls com a tal, no els hem de gestionar.

No hi ha valors nuls com a tal. Veiem però, al `data.describe()`,  que cap feina té el salari especificat. Les empreses prefereixen no establir un rang salarial a priori.

In [236]:
data['Salary'].value_counts()

Salary
Salary not specified    4469
Name: count, dtype: int64

In [237]:
specified_salary_count = data[data['Salary'] != 'Salary not specified'].shape[0]
print(f"Número d'entrades amb salari: {specified_salary_count}")

Número d'entrades amb salari: 0

Com són totes, podem eliminar la columna:

In [238]:
data_no_salary = data.drop("Salary", axis=1)

Observem que la resta de variables, en alguns casos tenen `(variable) not available`. Tractarem aquests com a valors nulls i inputarem les files que els incloguin:

In [239]:
data_all_available = data_no_salary.map(lambda x: np.nan if isinstance(x, str) and 'not' in x.lower() and 'avail' in x.lower() else x)

In [240]:
data_all_available = data_all_available.dropna()

In [241]:
data_all_available

     Searched Job Title  ...  Job Age
0        Data Scientist  ...  21 días
1        Data Scientist  ...   + 30 d
2        Data Scientist  ...   + 30 d
3        Data Scientist  ...   + 30 d
4        Data Scientist  ...   + 30 d
...                 ...  ...      ...
4463     Data Architect  ...   + 30 d
4464     Data Architect  ...   + 30 d
4465     Data Architect  ...  10 días
4467     Data Architect  ...   + 30 d
4468     Data Architect  ...   + 30 d

[4252 rows x 7 columns]

L'algoritme supervisat l'utilitzarem per predir el `Rating`. La variable `Job Link` no ens interesa i la variable ``Employer`` té una bijecció directa pel que les eliminem:

In [242]:
data_all_available = data_all_available.drop(["Job Link", "Employer"], axis=1)

Identifiquem i gestionem els valors categòrics:

In [243]:
categorical_columns = data_all_available.select_dtypes(include=['object']).columns
print(categorical_columns)

Index(['Searched Job Title', 'Extracted Job Title', 'Rating', 'Location',
       'Job Age'],
      dtype='object')

Veiem que, erròniament, les variables `Rating` i `Job Age`, que són númeriques estan en format text. Les convertim a valors númerics. En el cas de `Job Age`, tots els valors `+30 d` els convertirem a 35.

In [244]:
data_all_available['Job Age'] = data_all_available['Job Age'].str.replace('+', '', regex=False)
data_all_available['Job Age'] = data_all_available['Job Age'].str.replace(' días', '', regex=False).str.strip()
data_all_available['Job Age'] = data_all_available['Job Age'].str.replace(' d', '', regex=False).str.strip()
data_all_available['Job Age'] = data_all_available['Job Age'].replace({'30': '35'})

In [245]:
data_all_available

     Searched Job Title  ... Job Age
0        Data Scientist  ...      21
1        Data Scientist  ...      35
2        Data Scientist  ...      35
3        Data Scientist  ...      35
4        Data Scientist  ...      35
...                 ...  ...     ...
4463     Data Architect  ...      35
4464     Data Architect  ...      35
4465     Data Architect  ...      10
4467     Data Architect  ...      35
4468     Data Architect  ...      35

[4252 rows x 5 columns]

In [246]:
data_all_available['Job Age'] = pd.to_numeric(data_all_available['Job Age'], errors='coerce')
data_all_available['Rating'] = pd.to_numeric(data_all_available['Rating'], errors='coerce')

In [247]:
categorical_columns = data_all_available.select_dtypes(include=['object']).columns
print(categorical_columns)

Index(['Searched Job Title', 'Extracted Job Title', 'Location'], dtype='object')

In [248]:
data_all_available = data_all_available.reset_index(drop=True)

In [249]:
data_all_available

     Searched Job Title  ... Job Age
0        Data Scientist  ...    21.0
1        Data Scientist  ...    35.0
2        Data Scientist  ...    35.0
3        Data Scientist  ...    35.0
4        Data Scientist  ...    35.0
...                 ...  ...     ...
4247     Data Architect  ...    35.0
4248     Data Architect  ...    35.0
4249     Data Architect  ...    10.0
4250     Data Architect  ...    35.0
4251     Data Architect  ...    35.0

[4252 rows x 5 columns]

Ens interesa fer l'estudi pertinent només amb dades de l'últim mes. Eliminem totes les dades que tenen `35` com a `Job Age`.

In [250]:
data_all_available_last_month = data_all_available[data_all_available['Job Age'] != 35.0]

In [251]:
data_all_available_last_month = data_all_available_last_month.drop(columns=['Job Age'])
data_all_available_last_month = data_all_available_last_month.dropna()
data_all_available_last_month = data_all_available_last_month.reset_index(drop=True)

In [252]:
data_all_available_last_month

     Searched Job Title  ...   Location
0        Data Scientist  ...     Madrid
1        Data Scientist  ...     Madrid
2        Data Scientist  ...     Madrid
3        Data Scientist  ...     Madrid
4        Data Scientist  ...  Barcelona
...                 ...  ...        ...
1778     Data Architect  ...     Madrid
1779     Data Architect  ...     Madrid
1780     Data Architect  ...     Madrid
1781     Data Architect  ...  Barcelona
1782     Data Architect  ...     Madrid

[1783 rows x 4 columns]

Eliminem els duplicats, si n'hi ha:

In [253]:
data_all_available_last_month = data_all_available_last_month.drop_duplicates()

Ara usem `get_dummies()` per codificar _one-hot_ com a númeriques les variables categòriques restants:

In [255]:
data_all_available_encoded = pd.get_dummies(data_all_available_last_month, columns=categorical_columns, drop_first=False)

In [256]:
data_all_available_encoded

      Rating  ...  Location_Zaragoza
0        3.8  ...              False
1        4.0  ...              False
2        4.0  ...              False
3        4.0  ...              False
4        3.3  ...              False
...      ...  ...                ...
1778     4.3  ...              False
1779     3.6  ...              False
1780     3.8  ...              False
1781     3.6  ...              False
1782     4.2  ...              False

[1725 rows x 1044 columns]

Intentarem predir el rating basat en el tipus de feina i la ubicació. Hem valorat gestionar els valors extrems, però amb el limitat que ens queda el dataset considerem que no té sentit.

Abans de passar a executar els algoritmes supervisats, guardem el dataset netejat:

In [258]:
processed_file_path = '../dataset/glassdor_jobs_processed.csv'
data_all_available_encoded.to_csv(processed_file_path, index=False)

## Algoritmes supervisats

Provarem diversos algoritmes supervisats:

In [268]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

Definim `Rating` com el target:

In [260]:
X = data_all_available_encoded.drop(columns=['Rating'])
y = data_all_available_encoded['Rating']

Creem els conjunts de train i test:

In [261]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=42)

Inicialitzem els models:

In [266]:
models = {
    "Linear Regression": LinearRegression(),
    "Decision Tree Regressor": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
    "Support Vector Regressor": SVR()
}

Entrenem i els avaluem:

In [269]:
for name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    mae = mean_absolute_error(y_test, y_pred)
    mse = mean_squared_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    print(f"{name} - MAE: {mae:.2f}, MSE: {mse:.2f}, R²: {r2:.2f}")

Linear Regression - MAE: 0.20, MSE: 0.14, R²: 0.30
Decision Tree Regressor - MAE: 0.23, MSE: 0.16, R²: 0.18
Random Forest Regressor - MAE: 0.25, MSE: 0.15, R²: 0.22
Support Vector Regressor - MAE: 0.27, MSE: 0.16, R²: 0.19